DATABASE_URL=postgresql://photoapp:photoapp@localhost:5432/photoapp?schema=photos
PORT=4002
JWT_SECRET=replace-with-same-jwt-secret-as-user-service
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=photo_app_signed
USER_SERVICE_URL=http://localhost:4001
LOG_LEVEL=debug
NODE_ENV=development
